.footer-container{
    background-color: #E10F28;
    color: rgba(255, 255, 255, 0.808);
    padding: 50px;
    margin-top: 50px;
}
.footer-part{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}
.footer-container li{
    list-style: none;
    cursor: pointer;
}
.icon-container{
    display: flex;
    justify-content: center;
}
.icon-container p{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
